body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

}

.Timer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}