body
{
  background-color: black;
  color: white;
  padding: 20px;
}
.navbar{

  display: flex;
  justify-content: space-between;
  background-color:cadetblue;
  border-radius: 20px;

}
.links{

  display: flex;
  gap: 50px;
  font-size: 20px;
  padding: 20px;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  font-size: 50px;
  
}
button{
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: azure;
}