body{
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100vh;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;


}
.form_input{
  display: flex;
  padding: 20px;
}
.btn1{
  gap: 20px;
}