body{
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;

}
button {
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  background-color: antiquewhite;
}
._form {
  display: flex;
  flex-direction: column;
}